data/json/setting.json
data/json/setting_creative.json
/data/bin_packing/planning_v3_objects
/data/bin_packing/planning_v3_probe/raw_data
/data/bin_packing/planning_v3_probe/planning_v3_probe.zip
/data/bin_packing/planning_v3_see_all_in_one
/scripts/utils/image2video.py
/scripts/utils/output.avi
/scripts/transformer_llms
/scripts/planner_old.py
/my_memos

